<form action="/parcels" method="post">
  <label for="description">Add a new parcel</label>
  <input id="description" name="description" type="text">
  <label for="weight">Weight?</label>
  <input id="weight" name="weight" type="text">
  <label for="length">Length?</label>
  <input id="length" name="length" type="text">
  <label for="width">Width?</label>
  <input id="width" name="width" type="text">
  <label for="height">Height?</label>
  <input id="height" name="height" type="text">
  <button type="submit">Submit</button>
</form>